html,body { margin: 0; padding: 0; }
body {
 font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", "Helvetica", "Arial", sans-serif;
 line-height:1.4em;
 font-size: 14px;
 color: #000; color: rgba(0,0,0,1);
 background:#004171;
 background-color: rgba(0,64,112,1);
}
div.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
div.middle {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
.loading_overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-align:center;
    z-index:9999;
    overflow: hidden;
    background:#000;
    background:rgba(0,0,0,0.8);
}
.spinner {
    width: 200px;
    height: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -55px 0 0 -100px;
    color: #fff;
    font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
 display:block;
 font-weight:bold
 -moz-text-shadow: 1px 1px 2px rgba(255,255,255,1);
 -webkit-text-shadow: 1px 1px 2px rgba(255,255,255,1);
 text-shadow: 1px 1px 2px rgba(255,255,255,1);
}
h1{font-size:22px;margin:0;padding:0;line-height:1em;}
h2{font-size:20px;margin:0;padding:0;}
h3{font-size:18px;margin:0;padding:0;}
h4{font-size:16px;margin:0;padding:0;}
h5{font-size:14px;margin:0;padding:0;}
h6{font-size:12px;margin:0;padding:0;}
a, a:link, a:visited, a:active {
 color: #00f;
 color: rgba(0,0,255,.75);
 text-decoration: none;
}
a:hover {
 color: rgba(0,0,255,.75);
 text-decoration: underline;
}
div.input_box {
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 border: 1px solid #888;
 border: 1px solid rgba(0,0,0,.5);
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 -moz-box-shadow: 0px 0px 5px rgba(0,0,0,1);
 -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,1);
 box-shadow: 0px 0px 5px rgba(0,0,0,1);
}
div.input_box_top {
 height: 50px;
 display: block;
 background-color: #ccc;
 text-align: center;
 padding: 10px 0 0 0;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
 background-image: -webkit-linear-gradient(top, #eee, #ccc);
 background-image: -moz-linear-gradient(top, #eee, #ccc);
 background-image: -ms-linear-gradient(top, #eee, #ccc);
 background-image: -o-linear-gradient(top, #eee, #ccc);
 background-image: linear-gradient(top, #eee, #ccc);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
 -moz-border-radius: 10px 10px 0 0;
 -webkit-border-radius: 10px 10px 0 0;
 border-radius: 10px 10px 0 0;
}
div.box_middle {
 height: 188px;
 padding: 20px 0 0 0;
 background-color: #fff;
 text-align: center;
 border: none;
 border-top: 1px solid #888;
 border-bottom: 1px solid #888;
 border-top: 1px solid rgba(0,0,0,.5);
 border-bottom: 1px solid rgba(0,0,0,.5);
}
div.box_bottom {
 height: 50px;
 background-color: #ccc;
 text-align: center;
 font-size: 12px;
 padding: 14px 0 0px 0;
 line-height: 1.2em;
 border: none;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
 background-image: -webkit-linear-gradient(top, #eee, #ccc);
 background-image: -moz-linear-gradient(top, #eee, #ccc);
 background-image: -ms-linear-gradient(top, #eee, #ccc);
 background-image: -o-linear-gradient(top, #eee, #ccc);
 background-image: linear-gradient(top, #eee, #ccc);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
 -moz-border-radius: 0 0 10px 10px;
 -webkit-border-radius: 0 0 10px 10px;
 border-radius: 0 0 10px 10px;
}
div.result_box {
 margin-left: auto;
 margin-right: auto;
 width: 760px;
 text-align: center;
 border: 1px solid #888;
 border: 1px solid rgba(0,0,0,.5);
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 -moz-box-shadow: 0px 0px 5px rgba(0,0,0,1);
 -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,1);
 box-shadow: 0px 0px 5px rgba(0,0,0,1);
}
div.result_box_top {
 background-color: #ccc;
 text-align: center;
 border: none;
 padding: 10px;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
 background-image: -webkit-linear-gradient(top, #eee, #ccc);
 background-image: -moz-linear-gradient(top, #eee, #ccc);
 background-image: -ms-linear-gradient(top, #eee, #ccc);
 background-image: -o-linear-gradient(top, #eee, #ccc);
 background-image: linear-gradient(top, #eee, #ccc);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
 -moz-border-radius: 10px 10px 0 0;
 -webkit-border-radius: 10px 10px 0 0;
 border-radius: 10px 10px 0 0;
}
div.result_box_middle {
 background-color: #fff;
 text-align: justify;
 padding: 10px;
 border: none;
 border-top: 1px solid #888;
 border-bottom: 1px solid #888;
 border-top: 1px solid rgba(0,0,0,.5);
 border-bottom: 1px solid rgba(0,0,0,.5);
}
div.result_box_bottom {
 background-color: #ccc;
 text-align: center;
 border: none;
 padding: 10px 5px;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
 background-image: -webkit-linear-gradient(top, #eee, #ccc);
 background-image: -moz-linear-gradient(top, #eee, #ccc);
 background-image: -ms-linear-gradient(top, #eee, #ccc);
 background-image: -o-linear-gradient(top, #eee, #ccc);
 background-image: linear-gradient(top, #eee, #ccc);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
 -moz-border-radius: 0 0 10px 10px;
 -webkit-border-radius: 0 0 10px 10px;
 border-radius: 0 0 10px 10px;
}
form {
 margin: 0;
 padding: 0;
 border: 0;
}
img {
 margin: 0;
 padding: 0;
 border: 0;
}
p {
 margin: 0;
 padding: 0;
 border: 0;
}
.artwork {
 border: 1px solid #000;
 background-color: #000;
 -moz-box-shadow:0px 0px 0px rgba(0,0,255,1);
 -webkit-box-shadow:0px 0px 5px rgba(0,0,255,1);
 box-shadow:0px 0px 5px rgba(0,0,255,1);
 width: 512px;
}
input {
 font-family: 'DejaVu Sans Mono',Monaco,Consolas,monospace;
 font-size: 18px;
 background-color: #fff;
 padding: 2px 5px;
 font-weight: bold;
 color: #000;
 text-align: center;
 border: 1px solid #000;
 outline: none;
 -webkit-transition: all 0.25s ease-in-out;
 -moz-transition: all 0.25s ease-in-out;
 transition: all 0.25s ease-in-out;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 -moz-box-shadow: 0px 0px 10px rgba(255,0,0,1);
 -webkit-box-shadow: 0px 0px 10px rgba(255,0,0,1);
 box-shadow: 0px 0px 10px rgba(255,0,0,1);
}
input:focus {
 -moz-box-shadow: 0px 0px 10px rgba(0,0,255,1);
 -webkit-box-shadow: 0px 0px 10px rgba(0,0,255,1);
 box-shadow: 0px 0px 10px rgba(0,0,255,1);
}
input.button {
 background-color: #ccc;
}
textarea {
 font-family: 'DejaVu Sans Mono',Monaco,Consolas,monospace;
 padding: 2px;
 font-size: 14px;
 border: 1px solid #f00;
 outline: none;
 margin: 10px 0;
 -webkit-transition: all 0.25s ease-in-out;
 -moz-transition: all 0.25s ease-in-out;
 transition: all 0.25s ease-in-out;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 -moz-box-shadow: 0px 0px 5px rgba(255,0,0,1);
 -webkit-box-shadow: 0px 0px 5px rgba(255,0,0,1);
 box-shadow:0px 0px 5px rgba(255,0,0,1);
}
textarea:focus {
 -moz-box-shadow: 0px 0px 10px rgba(0,0,255,1);
 -webkit-box-shadow: 0px 0px 10px rgba(0,0,255,1);
 box-shadow: 0px 0px 10px rgba(0,0,255,1);
}
code {
 border: none;
 outline: none;
 color: #000;
 font-weight: bold;
}
button {
 display: inline-block;
 white-space: nowrap;
 background-color: #ccc;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
 background-image: -webkit-linear-gradient(top, #eee, #ccc);
 background-image: -moz-linear-gradient(top, #eee, #ccc);
 background-image: -ms-linear-gradient(top, #eee, #ccc);
 background-image: -o-linear-gradient(top, #eee, #ccc);
 background-image: linear-gradient(top, #eee, #ccc);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
 border: 1px solid #777;
 padding: 0.5em 1em;
 margin: 0.1em;
 font: bold 1.5em Arial, Helvetica;
 text-decoration: none;
 color: #333;
 text-shadow: 0 1px 0 rgba(255,255,255,.8);
 -moz-border-radius: .2em;
 -webkit-border-radius: .2em;
 border-radius: .2em;
 -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
 -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
 box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}
button:hover {
 background-color: #ddd;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
 background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
 background-image: -moz-linear-gradient(top, #fafafa, #ddd);
 background-image: -ms-linear-gradient(top, #fafafa, #ddd);
 background-image: -o-linear-gradient(top, #fafafa, #ddd);
 background-image: linear-gradient(top, #fafafa, #ddd);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
 cursor: hand;
}
button:active {
 -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
 -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
 box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
 position: relative;
 top: 1px;
}
button:focus {
 outline: 0;
 background: #fafafa;
}
